*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

.topnav{
    border: 2px solid #FED99B;
    border-radius: 10px;
    background: #FED99B;
    padding: 10px;
}
.topnav p{
    text-align: center;
    font-size: 20px;
}
.topnav a{
    cursor: pointer;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    background: white;
    height: 16vh;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 100px;

}
.bxMenu i{
    font-size: 40px;
    cursor: pointer;
}
.navlinks{
    display: flex;
    justify-content: space-between;
}
.navlinks a{
    color: black;
    margin-left: 30px;
    font-size: 19px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    cursor: pointer;
}
.navlinks a:hover{
    border-bottom: 2px solid rgb(19, 137, 234);
    transition: 2s ease-in;
}

/*main*/
.uxx img{
    height: 80vh;
    border-radius: 20px;
    left: 0%;
    padding: 10px;
    right: 0%;
    width: 100%;
}
.rice{
    position: absolute;
    top: 50%;
    left: 3%;
}
.rice h1{
    font-size: 40px;
    color: white;
}
.rice h2{
    font-size: 20px;
    color: antiquewhite;
    margin-top: 20px;
}
h3{
    border: 2px solid white;
    margin-top: 20px;
    border-radius: 20px;
    background: white;
    width: 45%;
    padding: 10px 0 10px 0;
}
h3 a{
    color: #333;
    margin-left: 50px;
}

/*section*/
.small{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.container{
    border: 2px solid #18808C;
    background: #18808C;
    width: 300px;
}
.container h4{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.drugs{
    border: 2px solid #18808C;
    background: #FAFCFC;
    height: 390px;
    width: 300px;
}
h5{
    padding: 20px;
    text-align: center;
    align-items: center;
    font-weight: 350;
    font-size: 30px;
}
h5 span{
    color: #474D52;
    font-size: 20px;
    font-weight: 300;
}
.pens{
    border: 2px solid #FAFCFC;
    background: #FAFCFC;
    width: 30%;
}
.pens i{
    font-size: 20px;  
}
.pen1{
    border: 2px solid #FAFCFC;
    background: #FAFCFC;
    width: 30%;
}
aside{
    color: #474D52;
    font-size: 18px;
    font-weight: 300;
   
}
aside span{
    color: #474D52;
    font-size: 15px;
    font-weight: 300;
   
}
.btn{
    background: #18808C;
    border: 2px solid #18808C;
    border-radius: 40px;  
    margin-left: 30px;
    width: 80%;
}
.btn li{
    text-align: center;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}
.btn li a{
    color: #F4F9F9;
}
.hyp1{
    position: relative;
    margin: 10px 0 0 30px;
}
.small select{
    border: 2px solid #FAFCFC;
    background: #FAFCFC;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    color: #3A939D;
    padding: 10px 10px 20px;
}
.brain{
    display: flex;
    padding: 20px;
}
.heart h4{
    margin-left: 188px;
    color: #474D52;
    font-family: Arial, Helvetica, sans-serif;
}
.love{
    background: #FAFCFC;
    height: 300px;
    width: 500px;
    margin-top: 20px;
    margin-left: 10px;
    
}
.love p{
    margin-top: 20px;
}

u{
    text-decoration: underline;
    font-weight: 600;
    color: #18808C;
}
.btn1{
    background: #18808C;
    border: 2px solid #18808C;
    border-radius: 40px;  
    margin-left: 7px;
    width: 50%;
    margin-top: 30px;
}
.btn1 li{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.btn1 li a{
    color: #F4F9F9;
}
.image{
    margin: 20px;
}
.image img{
    width: 500px;
    height: 290px;
}
.find{
    margin: 10px;
    text-align: center;
    background: #F4F9FB;
}
.find h4{
    font-size: 30px;
    font-weight: 600;
}
.find p{
    font-weight: 400;
    margin-top: 10px;
}

.liver{
    display: flex;
    justify-content: space-between;
    padding: 20px;
   background: #F4F9FB;
}

.kidney1 u{
    text-decoration: none;
    margin-bottom: -120px;
    margin-left: -100px;
}
.kidney img{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.5s;
    margin-left: 40px;
}
.kidney1{
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    height: 300px;
    width: 250px;
    margin-left: 10px;
    margin-top: 40px;
}
.kidney1 h5{
    font-size: 15px;
    margin-top: 50px;
    margin-left: -20px;
    font-weight: 600;
    color: #18808C;
}
.kidney1 h1{
    font-size: 15px;
    margin-top: -20px;
    margin-left: 15%;
    font-weight: 500;
    color: #474D52;
}
.kidney1 i{
    font-size: 20px;
    font-weight: 100;
    color: #474D52;
    margin-top: -300%;
}
.kidney1 p{
    color: #474D52;
    font-weight: 600;
    margin: 25px;
}
.kidney2{
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    height: 300px;
    width: 250px;
    margin-left: 10px;
    margin-top: 40px;
}
.kidney2 h5{
    font-size: 15px;
    margin-top: 50px;
    margin-left: -30px;
    font-weight: 600;
    color: #18808C;
}
.kidney2 h1{
    font-size: 15px;
    margin-top: -20px;
    margin-left: 15%;
    font-weight: 500;
    color: #474D52;
}
.kidney2 p{
    margin-right: 13%;
}
.kidney3{
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    height: 300px;
    width: 260px;
    margin-left: 10px;
    margin-top: 40px;
}
.kidney3 h5{
    font-size: 17px;
    margin-top: 50px;
    margin-left: -20px;
    font-weight: 600;
    color: #18808C;
}
.kidney3 h1{
    font-size: 15px;
    margin-top: -20px;
    margin-left: 6%;
    font-weight: 500;
    color: #474D52;
}
.kidney3 i{
    margin-left: 6%;
    color: #474D52;
}
.kidney4{
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    height: 300px;
    width: 260px;
    margin-right: 10px;
    margin-top: 40px;
}
.kidney4 h1{
    font-size: 15px;
    margin-top: -20px;
    margin-left: 30px;
    font-weight: 500;
    color: #474D52;
}
.kidney4 h5{
    font-size: 17px;
    margin-top: 50px;
    margin-left: -50px;
    font-weight: 600;
    color: #18808C;
}
.kidney4 i{
    margin-left: 12%;
    color: #474D52;
}
.kidney2 i{
    margin-left: 15%;
    color: #474D52;
}
.h{
    margin-top: -50px;
}
.h h5{
    color: #474D52;
    margin-right: 30px;
    font-weight: 400;
}
.h p{
    margin: 1px;
    margin-left: 30px;
    color: #474D52;
    font-weight: 500;
}
.btn2{
    background: #18808C;
    border: 2px solid #18808C;
    border-radius: 40px;  
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    padding: 10px;
}
.btn2 a{
    font-size: 20px;
    cursor: pointer;
}
.btn2 a{
    color: #F4F9F9;
    text-align: center;
}
.lungs{
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.spinal h1{
    color: #494A4D;
    margin: 10px;
}
.spinal p{
    color: #494A4D;
    margin: 10px;
}
.spinal{
    border: 2px solid #FAFCFC;
    background: #FAFCFC;
    height: 250px;
    width: 400px;
    margin-top: 40px;
}
u{
    text-decoration: underline;
    font-weight: 600;
    color: #18808C;
}
.btn0{
    background: #18808C;
    border: 2px solid #18808C;
    border-radius: 40px;  
    margin-left: 23px;
    width: 200px;
    margin-top: 10px;
    padding: 10px;
}
.btn0 a{
    color: #FFFFFF;
    margin-left: 20px;
}

.image1{
    margin-top: 40px;
}
.image1 img{
    height: 90%;
    width: 400px;
}
.rib{
    border: 2px solid #18808C;
    background: #18808C;
    align-items: center;
    text-align: center;
    height: 300px;
}
.rib h1{
    margin-top: 40px;
    color: #FFFFFF;
}
.rib p{
    margin-top: 15px;
    color: #FFFFFF;
}
.rib li{
    margin-top: 30px;
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    width: 250px;
    margin-left: 37%;
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rib a{
    color: #474D52;
}
.eye{
    display: flex;
    justify-content: space-between;
}
.ear{
    padding: 10px;
    height: 80vh;
    width: 400px;
    margin-top: 40px;
}
.ear img{
    width: 90%;
    height: 50%;  
    border-radius: 10px;
}
.ear h6{
    color: #474D52;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.ear h6:hover{
    text-decoration: underline;
    cursor: pointer;
}
.ear img:hover{
    padding: 3px;
}
.cord{
    padding: 10px;
}
.cord h6{
    font-size: 25px;
    margin-top: 40px;
    color: #494A4D;
}
/* footer */
.foot{
    display: flex;
    justify-content: space-between;
    background: #FAFCFC;
    padding: 15px;
}
.feet{
    width: 70%;
    height: 80vh;
    background: #FAFCFC;
}
.feet h1{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}
.feet a{
    color: #18808C;
    margin-top: 20px;
    cursor: pointer;
}
.feet li{
    color: #474D52;
}
.feet abbr{
    color: #18808C;
    cursor: pointer;
}
.feet p{
    margin-bottom: 15px;
    color: #474D52;
    cursor: pointer;
}
.hand{
    display: flex;
    justify-content: space-between;
    background: #EBF4F6;
    padding: 10px;
}
.hand h4{
    font-size: 20px;
    margin-left: 120px;
    color: #494A4D;
}
.fack{
    margin-left: -530px;
    display: flex;
}
.fack li{
    padding: 2px;
}
.fack li a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3A939D;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.fack i{
    color: black;
    margin: 12px;
}
.hmm h6{
    font-size: 20px;
    color: #494A4D;
}
.hmm li{
    border: 2px solid #18808C;
    margin-left: 80px;
    border-radius: 40px;
    background: #18808C;
    padding: 15px;
    padding-left: 70px;
    border-left-width: 50px;
}
.hmm li a{
    color: white;
}
/* ... (your existing CSS) ... */

/* Small screens (e.g., mobile phones) */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .navlinks {
        flex-direction: column;
        margin-top: 10px;
        display: none; /* Hide by default, can be toggled with JS for a hamburger menu */
    }
    .navlinks a {
        margin: 10px 0;
    }
    .bxMenu i {
        display: block; /* Show menu icon on small screens */
    }

    .uxx img {
        height: 50vh;
    }
    .rice {
        top: 30%;
        left: 5%;
        text-align: center;
        width: 90%;
    }
    .rice h1 {
        font-size: 30px;
    }
    .rice h2 {
        font-size: 16px;
    }
    h3 {
        width: 80%;
        margin-left: 10%;
    }
    h3 a {
        margin-left: 20px;
    }

    .small {
        flex-direction: column;
        align-items: center;
    }
    .container, .drugs {
        width: 90%;
        margin-bottom: 20px;
    }
    .pens, .pen1 {
        width: 90%;
        margin-bottom: 10px;
    }
    .hyp1 {
        margin-left: 0;
        text-align: center;
    }

    .brain {
        flex-direction: column;
        align-items: center;
    }
    .heart h4 {
        margin-left: 0;
        text-align: center;
    }
    .love {
        width: 90%;
        margin-left: 0;
        height: auto;
        padding: 15px;
        text-align: center;
    }
    .btn1 {
        width: 80%;
        margin-left: 10%;
    }
    .image img {
        width: 90%;
        height: auto;
    }

    .liver {
        flex-direction: column;
        align-items: center;
    }
    .kidney1, .kidney2, .kidney3, .kidney4 {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .kidney img {
        margin-left: calc(50% - 50px); /* Center the image */
    }
    .kidney1 h5, .kidney2 h5, .kidney3 h5, .kidney4 h5 {
        margin-left: 0;
        text-align: center;
    }
    .kidney1 h1, .kidney2 h1, .kidney3 h1, .kidney4 h1 {
        margin-left: 0;
        text-align: center;
    }
    .kidney1 p, .kidney2 p, .kidney3 p, .kidney4 p {
        margin: 20px;
        text-align: center;
    }
    .btn2 {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .lungs {
        flex-direction: column;
        align-items: center;
    }
    .spinal {
        width: 90%;
        height: auto;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .btn0 {
        margin-left: 10%;
        width: 80%;
    }
    .image1 img {
        width: 90%;
        height: auto;
    }

    .rib {
        height: auto;
        padding: 20px;
    }
    .rib li {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .eye {
        flex-direction: column;
        align-items: center;
    }
    .ear {
        width: 90%;
        height: auto;
        padding: 0;
        margin-bottom: 20px;
    }
    .ear img {
        width: 100%;
        height: auto;
    }
    .cord h6 {
        text-align: center;
    }

    .foot {
        flex-direction: column;
        align-items: center;
    }
    .feet {
        width: 90%;
        height: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .fack {
        margin-left: 0;
        justify-content: center;
    }
    .hand h4 {
        margin-left: 0;
        text-align: center;
    }
    .hmm li {
        margin-left: 0;
        text-align: center;
        padding-left: 15px;
        border-left-width: 2px;
    }
}

/* Medium screens (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .topnav p {
        font-size: 18px;
    }
    .navlinks a {
        margin-left: 20px;
        font-size: 17px;
    }

    .uxx img {
        height: 60vh;
    }
    .rice h1 {
        font-size: 35px;
    }
    .rice h2 {
        font-size: 18px;
    }
    h3 {
        width: 60%;
    }

    .small {
        flex-wrap: wrap;
        justify-content: center;
    }
    .container, .drugs {
        width: 45%;
        margin: 10px;
    }
    .pens, .pen1 {
        width: 45%;
        margin: 10px;
    }

    .brain {
        flex-wrap: wrap;
        justify-content: center;
    }
    .love {
        width: 90%;
        margin: 10px;
    }
    .image {
        width: 90%;
        margin: 10px;
    }
    .image img {
        width: 100%;
        height: auto;
    }

    .liver {
        flex-wrap: wrap;
        justify-content: center;
    }
    .kidney1, .kidney2, .kidney3, .kidney4 {
        width: 45%;
        margin: 10px;
    }
    .btn2 {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .lungs {
        flex-wrap: wrap;
        justify-content: center;
    }
    .spinal {
        width: 45%;
        margin: 10px;
    }
    .image1 {
        width: 45%;
        margin: 10px;
    }
    .image1 img {
        width: 100%;
        height: auto;
    }

    .rib li {
        margin-left: auto;
        margin-right: auto;
    }

    .eye {
        flex-wrap: wrap;
        justify-content: center;
    }
    .ear {
        width: 45%;
        margin: 10px;
    }
    .ear img {
        width: 100%;
    }

    .foot {
        flex-wrap: wrap;
        justify-content: center;
    }
    .feet {
        width: 45%;
        margin: 10px;
    }
    .fack {
        margin-left: 0;
        justify-content: center;
        width: 100%;
    }
    .hand h4 {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
    .hmm {
        width: 45%;
        margin: 10px;
        text-align: center;
    }
    .hmm li {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Larger screens (desktop) - your current CSS is likely already optimized for this */
@media (min-width: 1025px) {
    /* No major changes needed here if your base CSS is for desktop */
}